### Working with Open Data Sources

In [1]:
import os
# Imports the Python wrapper package for Quandl.
import nasdaqdatalink as nlink

In [2]:
nlink.ApiConfig.api_key = os.environ['QUANDL_API_KEY']
nlink.ApiConfig.verify_ssl = False

In [3]:
# Reads historical data for the BTC/USD exchange rate.
data = nlink.get('BCHAIN/MKPRU')

/home/yusun/usunyu/my-awesome-projects/Algorithmic Trading/python_for_algo_trading/env/lib/python3.8/site-packages/urllib3/connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'data.nasdaq.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4794 entries, 2009-01-02 to 2022-02-16
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   4794 non-null   float64
dtypes: float64(1)
memory usage: 74.9 KB

In [5]:
data.tail()

               Value
Date
2022-02-12  42401.27
2022-02-13  42245.56
2022-02-14  42104.89
2022-02-15  42580.94
2022-02-16  44536.20

In [6]:
# Selects the Value column, resamples it—from the originally daily values to yearly 
# values and defines the last available observation to be the relevant one.
data['Value'].resample('A').last()

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        4.470000
2012-12-31       13.570000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      428.230000
2016-12-31      958.120000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    47132.960000
2022-12-31    44536.200000
Freq: A-DEC, Name: Value, dtype: float64

In [7]:
data = nlink.get('FSE/SAP_X', start_date='2018-1-1', end_date='2020-05-01')

/home/yusun/usunyu/my-awesome-projects/Algorithmic Trading/python_for_algo_trading/env/lib/python3.8/site-packages/urllib3/connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'data.nasdaq.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 579 entries, 2018-01-02 to 2020-04-30
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   257 non-null    float64
 1   High                   579 non-null    float64
 2   Low                    579 non-null    float64
 3   Close                  579 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          533 non-null    float64
 6   Turnover               533 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 49.8+ KB

In [9]:
data.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2018-01-02,93.35,93.95,92.12,92.80,None,2334984.0,216571734.0,None,None,None
2018-01-03,93.00,94.65,92.63,94.07,None,2346852.0,219877195.0,None,None,None
2018-01-11,NaN,93.74,91.04,91.43,None,4274991.0,393498865.0,None,None,None
2018-01-12,NaN,91.47,90.27,90.73,None,3437210.0,312013502.0,None,None,None
2018-01-15,NaN,90.61,89.71,90.06,None,2053812.0,185176806.0,None,None,None

In [10]:
vol = nlink.get('VOL/MSFT')

/home/yusun/usunyu/my-awesome-projects/Algorithmic Trading/python_for_algo_trading/env/lib/python3.8/site-packages/urllib3/connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'data.nasdaq.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [11]:
vol.iloc[:, 20:30].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2015-01-02 to 2018-12-31
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IvCall20      1006 non-null   float64
 1   IvPut20       1006 non-null   float64
 2   IvMean20      1006 non-null   float64
 3   IvMeanSkew20  1006 non-null   float64
 4   IvCall30      1006 non-null   float64
 5   IvPut30       1006 non-null   float64
 6   IvMean30      1006 non-null   float64
 7   IvMeanSkew30  1006 non-null   float64
 8   IvCall60      1006 non-null   float64
 9   IvPut60       1006 non-null   float64
dtypes: float64(10)
memory usage: 86.5 KB

In [12]:
vol[['IvMean30', 'IvMean60', 'IvMean90']].tail()

            IvMean30  IvMean60  IvMean90
Date
2018-12-24    0.4310    0.4112    0.3829
2018-12-26    0.4059    0.3844    0.3587
2018-12-27    0.3918    0.3879    0.3618
2018-12-28    0.3940    0.3736    0.3482
2018-12-31    0.3760    0.3519    0.3310

### Storing Financial Data Efficiently

In [13]:
import numpy as np
import pandas as pd
r = 0.05 # constant short rate
sigma = 0.5 # volatility factor
def generate_sample_data(rows, cols, freq='1min'):
    '''
    Function to generate sample financial data.
    Parameters
    ==========
    rows: int
    number of rows to generate
    cols: int
    number of columns to generate
    freq: str
    frequency string for DatetimeIndex
    Returns
    =======
    df: DataFrame
    DataFrame object with the sample data
    '''
    rows = int(rows)
    cols = int(cols)
    # generate a DatetimeIndex object given the frequency
    index = pd.date_range('2021-1-1', periods=rows, freq=freq)
    # determine time delta in year fractions
    dt = (index[1] - index[0]) / pd.Timedelta(value='365D')
    # generate column names
    columns = ['No%d' % i for i in range(cols)]
    # generate sample paths for geometric Brownian motion
    raw = np.exp(np.cumsum((r - 0.5 * sigma ** 2) * dt + sigma * np.sqrt(dt) *
    np.random.standard_normal((rows, cols)), axis=0))
    # normalize the data to start at 100
    raw = raw / raw[0] * 100
    # generate the DataFrame object
    df = pd.DataFrame(raw, index=index, columns=columns)
    return df

### Storing DataFrame Objects

In [14]:
%time data = generate_sample_data(rows=5e6, cols=10).round(4)

CPU times: user 2.42 s, sys: 345 ms, total: 2.77 s
Wall time: 2.77 s

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [16]:
# This opens the database file on disk for writing (and overwrites a potentially
# existing file with the same name).
h5 = pd.HDFStore('data/data.h5', 'w')

In [17]:
# Writing the DataFrame object to disk takes less than a second.
%time h5['data'] = data

CPU times: user 117 ms, sys: 318 ms, total: 435 ms
Wall time: 430 ms

In [18]:
# This prints out meta information for the database file.
h5

<class 'pandas.io.pytables.HDFStore'>
File path: data/data.h5

In [19]:
ls -n data/data.*

-rw-r--r-- 1 1000 1000 440007240 Feb 15 23:17 data/data.h5

In [20]:
# This closes the database file.
h5.close()

In [21]:
# Opens the database file for reading.
h5 = pd.HDFStore('data/data.h5', 'r')

In [22]:
# Reading takes less than half of a second.
%time data_copy = h5['data']

CPU times: user 281 ms, sys: 121 ms, total: 402 ms
Wall time: 401 ms

In [23]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [24]:
h5.close()

In [25]:
rm data/data.h5

In [26]:
# This defines the writing format to be of type table. Writing becomes slower
# since this format type involves a bit more overhead and leads to a somewhat
# increased file size.
%time data.to_hdf('data/data.h5', 'data', format='table')

CPU times: user 2.45 s, sys: 314 ms, total: 2.77 s
Wall time: 2.77 s

In [27]:
ls -n data/data.*

-rw-r--r-- 1 1000 1000 446911563 Feb 15 23:17 data/data.h5

In [28]:
# Reading is also slower in this application scenario.
%time data_copy = pd.read_hdf('data/data.h5', 'data')

CPU times: user 108 ms, sys: 213 ms, total: 321 ms
Wall time: 318 ms

In [29]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [30]:
# Imports the PyTables package.
import tables as tb

In [31]:
# Opens the database file for reading.
h5 = tb.open_file('data/data.h5', 'r')

In [32]:
# Shows the contents of the database file.
h5

File(filename=data/data.h5, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group) ''
/data/table (Table(5000000,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(10,), dflt=0.0, pos=1)}
  byteorder := 'little'
  chunkshape := (2978,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [33]:
# Prints the first three rows in the table.
h5.root.data.table[:3]

array([(1609459200000000000, [100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    ]),
       (1609459260000000000, [100.0768, 100.0096,  99.9261,  99.9089, 100.0195,  99.9675,  99.9591, 100.0368,  99.942 ,  99.9823]),
       (1609459320000000000, [100.0281, 100.1125,  99.8441,  99.9585, 100.0256, 100.0303,  99.9633, 100.0854,  99.9384, 100.0004])],
      dtype=[('index', '<i8'), ('values_block_0', '<f8', (10,))])

In [34]:
# Closes the database.
h5.close()

In [35]:
rm data/data.h5

### Using TsTables

In [36]:
%%time
# This generates a sample financial data set with 2,500,000 rows and five columns
# with a one second frequency; the sample data is rounded to two digits.
data = generate_sample_data(rows=2.5e6, cols=5, freq='1s').round(4)

CPU times: user 508 ms, sys: 40.2 ms, total: 548 ms
Wall time: 542 ms

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2021-01-01 00:00:00 to 2021-01-29 22:26:39
Freq: S
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
dtypes: float64(5)
memory usage: 114.4 MB

In [38]:
# TsTables (installed from https://github.com/yhilpisch/tstables)…
import tstables

In [39]:
class desc(tb.IsDescription):
    ''' 
    Description of TsTables table structure.
    '''
    # The first column of the table is a timestamp represented as an int value.
    timestamp = tb.Int64Col(pos=0)
    # All data columns contain float values.
    No0 = tb.Float64Col(pos=1)
    No1 = tb.Float64Col(pos=2)
    No2 = tb.Float64Col(pos=3)
    No3 = tb.Float64Col(pos=4)
    No4 = tb.Float64Col(pos=5)

In [40]:
# This opens a new database file for writing.
h5 = tb.open_file('data/data.h5ts', 'w')

In [41]:
# The TsTables table is created at the root node, with name data and given the
# class-based description desc.
ts = h5.create_ts('/', 'data', desc)

In [42]:
# Inspecting the database file reveals the basic principle behind the hierarchical
# structuring in years, months, and days.
h5

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2022 (Group) ''
/data/y2022/m02 (Group) ''
/data/y2022/m02/d16 (Group) ''
/data/y2022/m02/d16/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [43]:
# This appends the DataFrame object via a simple method call.
%time ts.append(data)

CPU times: user 294 ms, sys: 102 ms, total: 396 ms
Wall time: 410 ms

In [44]:
# The table object shows 86,400 rows per day after the append() operation.
h5

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2021 (Group) ''
/data/y2022 (Group) ''
/data/y2022/m02 (Group) ''
/data/y2022/m02/d16 (Group) ''
/data/y2022/m02/d16/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01 (Group) ''
/data/y2021/m01/d01 (Group) ''
/data/y2021/m01/d01/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d02 (Group) ''
/data/y2021/m01/d02/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d03 (Group) ''
/data/y2021/m01/d03/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d04 (Group) ''
/data/y2021/m01/d04/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d05 (Group) ''
/data/y2021/m01/d05/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d06 (Group) ''
/data/y2021/m01/d06/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d07 (Group) ''
/data/y2021/m01/d07/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d08 (Group) ''
/data/y2021/m01/d08/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d09 (Group) ''
/data/y2021/m01/d09/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d10 (Group) ''
/data/y2021/m01/d10/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d11 (Group) ''
/data/y2021/m01/d11/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d12 (Group) ''
/data/y2021/m01/d12/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d13 (Group) ''
/data/y2021/m01/d13/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d14 (Group) ''
/data/y2021/m01/d14/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d15 (Group) ''
/data/y2021/m01/d15/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d16 (Group) ''
/data/y2021/m01/d16/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d17 (Group) ''
/data/y2021/m01/d17/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d18 (Group) ''
/data/y2021/m01/d18/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d19 (Group) ''
/data/y2021/m01/d19/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d20 (Group) ''
/data/y2021/m01/d20/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d21 (Group) ''
/data/y2021/m01/d21/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d22 (Group) ''
/data/y2021/m01/d22/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d23 (Group) ''
/data/y2021/m01/d23/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d24 (Group) ''
/data/y2021/m01/d24/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d25 (Group) ''
/data/y2021/m01/d25/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d26 (Group) ''
/data/y2021/m01/d26/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d27 (Group) ''
/data/y2021/m01/d27/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d28 (Group) ''
/data/y2021/m01/d28/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d29 (Group) ''
/data/y2021/m01/d29/ts_data (Table(80800,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [45]:
import datetime
# This defines the starting date and…
start = datetime.datetime(2021, 1, 2)
# …end date for the data retrieval operation.
end = datetime.datetime(2021, 1, 3)

In [46]:
# The read_range() method takes the start and end dates as input—reading here
# is only a matter of milliseconds.
%time subset = ts.read_range(start, end)

CPU times: user 25.5 ms, sys: 1.28 ms, total: 26.8 ms
Wall time: 25.6 ms

In [47]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86401 entries, 2021-01-02 00:00:00 to 2021-01-03 00:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No0     86401 non-null  float64
 1   No1     86401 non-null  float64
 2   No2     86401 non-null  float64
 3   No3     86401 non-null  float64
 4   No4     86401 non-null  float64
dtypes: float64(5)
memory usage: 4.0 MB

In [48]:
h5.close()

In [49]:
rm data/*

### Storing Data with SQLite3

In [50]:
# The sample financial data set has 1,000,000 rows and five columns; memory
# usage is about 46 MB.
%time data = generate_sample_data(1e6, 5, '1min').round(4)

CPU times: user 255 ms, sys: 10.1 ms, total: 265 ms
Wall time: 258 ms

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000000 entries, 2021-01-01 00:00:00 to 2022-11-26 10:39:00
Freq: T
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   No0     1000000 non-null  float64
 1   No1     1000000 non-null  float64
 2   No2     1000000 non-null  float64
 3   No3     1000000 non-null  float64
 4   No4     1000000 non-null  float64
dtypes: float64(5)
memory usage: 45.8 MB

In [52]:
# This imports the SQLite3 module. 
import sqlite3 as sq3

In [53]:
# A connection is opened to a new database file.
con = sq3.connect('data/data.sql')

In [54]:
# Writing the data to the relational database takes a couple of seconds.
%time data.to_sql('data', con)

CPU times: user 3.94 s, sys: 258 ms, total: 4.2 s
Wall time: 4.29 s

1000000

In [55]:
ls -n data/data.*

-rw-r--r-- 1 1000 1000 105316352 Feb 15 23:17 data/data.sql

In [56]:
# The SQL query as a Python str object.
query = 'SELECT * FROM data WHERE No1 > 105 and No2 < 108'

In [57]:
# The query executed to retrieve all results rows.
%time res = con.execute(query).fetchall()

CPU times: user 75.9 ms, sys: 19.3 ms, total: 95.2 ms
Wall time: 93.9 ms

In [58]:
# The first five results printed.
res[:5]

[('2021-01-04 08:05:00', 95.4417, 105.0269, 105.3832, 95.3102, 108.3507),
 ('2021-01-04 08:06:00', 95.5041, 105.1027, 105.2866, 95.2597, 108.3188),
 ('2021-01-04 08:07:00', 95.4639, 105.078, 105.1863, 95.3124, 108.2399),
 ('2021-01-04 08:08:00', 95.3962, 105.0554, 105.2933, 95.3513, 108.346),
 ('2021-01-04 09:12:00', 94.665, 105.0057, 105.7702, 96.4977, 107.3005)]

In [59]:
# The length of the results list object.
len(res)

31131

In [60]:
con.close()

In [61]:
rm data/*