# Using descriptive statistics

Statistics describe important aspects of our data, often revealing deeper insights.

Statistics is a branch of mathematics concerned with data collection, analysis, interpretation, presentation, and organization. 

It plays a crucial role in various fields, from business and economics to healthcare and social sciences. Using statistical techniques, we can describe essential aspects of our data and uncover patterns and trends that may not be immediately apparent. Statistics can help us make informed decisions, identify potential problems, and evaluate the effectiveness of interventions.

In short, statistics can reveal more profound insights into our data and provide valuable information that can guide us in making better decisions.

## How To

In [1]:
import pandas as pd
df = pd.read_csv("data/housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
df.groupby("ocean_proximity").median()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
ocean_proximity,,,,,,,,,
<1H OCEAN,-118.275,34.03,30.0,2108.0,438.0,1247.0,421.0,3.87500,214850.0
INLAND,-120.000,36.97,23.0,2131.0,423.0,1124.0,385.0,2.98770,108500.0
ISLAND,-118.320,33.34,52.0,1675.0,512.0,733.0,288.0,2.73610,414700.0
NEAR BAY,-122.250,37.79,39.0,2083.0,423.0,1033.5,406.0,3.81865,233800.0
NEAR OCEAN,-118.260,33.79,29.0,2195.0,464.0,1136.5,429.0,3.64705,229450.0

In [7]:
df.agg({"longitude": ["min", "max", "mean"],
        "latitude": ["min", "max", "mean"],
        "total_rooms": ["min", "max", "median"],
        "median_income": ["skew"]})

         longitude   latitude  total_rooms  median_income
max    -114.310000  41.950000      39320.0            NaN
mean   -119.569704  35.631861          NaN            NaN
median         NaN        NaN       2127.0            NaN
min    -124.350000  32.540000          2.0            NaN
skew           NaN        NaN          NaN       1.646657

In [11]:
df["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [13]:
df.corr('spearman')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.879203,-0.150752,0.040120,0.063879,0.123527,0.060020,-0.009928,-0.069667
latitude,-0.879203,1.000000,0.032440,-0.018435,-0.056636,-0.123626,-0.074299,-0.088029,-0.165739
housing_median_age,-0.150752,0.032440,1.000000,-0.357162,-0.306544,-0.283879,-0.281989,-0.147308,0.074855
total_rooms,0.040120,-0.018435,-0.357162,1.000000,0.915021,0.816185,0.906734,0.271321,0.205952
total_bedrooms,0.063879,-0.056636,-0.306544,0.915021,1.000000,0.870937,0.975627,-0.006196,0.086259
population,0.123527,-0.123626,-0.283879,0.816185,0.870937,1.000000,0.903872,0.006268,0.003839
households,0.060020,-0.074299,-0.281989,0.906734,0.975627,0.903872,1.000000,0.030305,0.112737
median_income,-0.009928,-0.088029,-0.147308,0.271321,-0.006196,0.006268,0.030305,1.000000,0.676778
median_house_value,-0.069667,-0.165739,0.074855,0.205952,0.086259,0.003839,0.112737,0.676778,1.000000

## Exercise

## Additional Resources

- [Pandas Documentation](https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html)